/** @format */
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
	
	/** Newer Texts **/
	--text-smallX: clamp(14px, 2vw, 16px);
	--text-small: clamp(16px, 2vw, 20px);
	--text-medium: clamp(20px, 2vw, 25px);
	--text-large: clamp(22px, 3vw, 35px);
	--text-largeX: clamp(28px, 4vw, 45px);

	/** New Color **/
	--color-blue: #2a9df4;
	--color-green: #03c04a;
	--color-grey: #c1cfc0;
	--color-skin: #FFCC99;
	--color-red: red;
	--color-smoke: whitesmoke;
	--color-white: rgb(232,244,247);
}

/** HTML Elements **/
* {
	box-sizing: border-box;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}
  
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
	display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
body {
	background-color: var(--color-smoke);
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

a {
	color: black;
	text-decoration: none;
}

@font-face {
    font-family: 'Arvo', 'sans-serif';
    src: url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
}

@font-face {
    font-family: 'Lato', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
}


/** Keyframes **/
@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeOut {
	from {opacity: 1;}
	to {opacity: 0;}
}

@keyframes fadeInOut {
	0% {opacity: 0;}
	30% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes btnRipple {
	0% { 
		background-color: var(--color-blue);
		border: 2px solid white;
		color: white;
	}
	50% {
		background-color: white;
		border: 2px solid var(--color-blue);
		color: var(--color-blue);
	}
	100% { 
		background-color: var(--color-blue);
		border: 2px solid white;
		color: white;
	}
}

@keyframes ripple {
	0% { 
		background-color: var(--color-blue);
	}
	50% {
		background-color: white;
	}
	100% { 
		background-color: var(--color-blue);
	}
}


/** Navigation Bar Section **/
#nav-bar {
	background-color: white;
	border-bottom: 2px solid var(--color-smoke);
	height: 70px;
	padding: 0 20%;
	position: -webkit-sticky; /** Safari **/
  	position: sticky;
  	top: 0;
	z-index: 2;
}

.nav-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-size: var(--text-medium);
}

.nav-grid > * {
	align-self: center;
	justify-self: end;
	padding: 20px 0;
}

/** Nav Bar Logo **/
#logo {
	justify-self: start;
	align-self: center;
	height: 70px;
}

#logo img {
	height: 100%;
	width: 100%;
}

/** Nav Bar Button **/
#nav-close {
	display: none;
}

#nav-open, #nav-close {
	cursor: pointer;
	transition: color ease-in-out 0.5s;
}

#nav-open:hover, #nav-close:hover {
	color: var(--color-blue);
}


/** Toast **/
#toast {
	color: white;
	display: inline-block;
	font-family: 'Arvo', 'sans-serif';
	font-weight: 900;
	left: 90%;
	margin: 0 2%;
	opacity: 0;
	padding: 5px;
	position: -webkit-sticky; /** Safari **/
	position: sticky;
	top: 100px;
	z-index: 3;
}


/** Navigation Section **/
#navigation {
	background-color: white;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, 1fr);
	height: calc(100vh - 70px);
	opacity: 0;
	place-items: center;
	position: absolute;
	width: 100vw;
	z-index: 0;
}

#navigation a {
	font-family: 'Arvo', serif;
	font-weight: 900;
	font-size: var(--text-small);
	transition: color ease-in-out 0.5s;
}

#navigation div:hover a {
	color: var(--color-blue);
}

/** Navigation Line Decoration **/
#navigation div::after {
	background-color: var(--color-grey);
	border-radius: 50px;
	content: '';
	display: block;
	height: 1.5px;
	margin: auto;
	padding: 1px;
	transition: width 1.5s;
  	width: 1.5px;
}

#navigation div:hover::after {
	background-color: var(--color-blue);
  	width: 100%;
}


/** Main Content **/
#main-content {
	position: relative;
	z-index: 1;
}

.highlight {
	color: var(--color-blue);
	font-weight: 900;
} 

.text-highlight {
	color: var(--color-blue);
}

.header {
	font-family: 'Arvo', serif;
	font-size: var(--text-large);
	font-weight: 900;
	text-align: center;
}


/** Section Container Related **/
section {
	background-color: white;
	font-family: 'Lato', sans-serif;
	font-size: var(--text-small);
	line-height: 1.5;
	opacity: 0;
}

/** Landing + Work **/
#landing, #work {
	box-shadow: -10px 10px 15px var(--color-grey);
	margin: 4% 10% 5% 10%;
	padding: 3% 5%;
}

#landing {
	max-width: 50%;
}

#work {
	max-width: 60%;
}

#about {
	box-shadow: 10px 10px 15px var(--color-grey);
	margin: 5% 10% 5% auto;
	max-width: 50%;
	padding: 3% 5%;
}

#contact {
	box-shadow: 10px 10px 15px var(--color-grey);
	font-size: var(--text-small);
	margin: 5% 10% 5% auto;
	max-width: 70%;
	padding: 3% 5%;
}

.skill-grid > section {
	box-shadow: 10px 10px 15px var(--color-grey);
	font-size: var(--text-smallX);
	padding: 20px;
}

.project {
	box-shadow: -10px 10px 15px var(--color-grey);
	padding: 15px;
}


/** Padding between Elements **/
#landing > *, #work > * {
	margin: 3% 0;
}

#about > * {
	margin: 5% 0;
}

.project > div {
	margin: 4% 6%;
}


/** Links + Buttons in Section **/
.project-link, .landing-grid, .about-grid {
	display: grid;
	gap: 5px;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}

.project-link > div, .landing-grid > div, .about-grid > div {
	display: flex;
	align-items: center;
	padding: 5px 0;
}

.landing-btn, .project-link-btn, .about-btn {
	align-items: center;
	animation: btnRipple ease-in-out 3.5s infinite;
	border-radius: 50%;
	color: white;
	display: flex;
	height: 50px;
	justify-content: center;
	width: 50px;
}

.landing-btn-text, .project-link-text, .about-btn-text {
	color: var(--color-blue);
	font-family: 'Arvo', serif;
	font-size: var(--text-small);
	font-weight: 900;
	margin-left: 10px;
}

.landing-btn:hover, .project-link-btn:hover, .about-btn:hover {
	animation: none;
	background-color: white;
	border: 2px solid var(--color-blue);
	color: var(--color-blue);
}


/** Skill + Project Grids **/
#skill {
	margin: 10% 10% 10% auto;
	position: relative;
	max-width: 60%;
}

#portfolio {
	margin: 10% 10% 5% 10%;
	max-width: 70%;
}

.skill-grid {
	display: grid;
	gap: 25px;
	grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
	margin: 8% 0;
}

.project-grid {
	display: grid;
	gap: 25px;
	grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
	margin: 8% 0;
}


/** Landing Page Specific **/
.landing-header {
	font-family: 'Arvo', serif;
	font-size: var(--text-large)
}

.landing-hero {
	font-size: var(--text-largeX);
	font-weight: 900;
}


/** About Specific **/
.about-btn {
	cursor: pointer;
}


/** Work Experience Specific **/
.work-date {
	font-family: 'Arvo', serif;
	font-weight: 900;
}

.work-grid {
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 50px;
	grid-template-rows: auto;
	place-items: center;
}

/** Timeline Container **/
.work-timeline {
	margin: 0 auto;
	position: relative;
}

/** Timeline Vertical Line **/
.work-timeline::after {
	background-color: var(--color-grey);
	bottom: 55px;
	content: '';
	left: auto;
	position: absolute;
	right: 23px;
	top: 55px;
	width: 4px;	
}

/** Timeline Vertical Circle **/
.work-event {
	animation: ripple ease-in-out 3s infinite;
	border: 3px solid var(--color-grey);
	border-radius: 50%;
	height: 25px;
	margin: 10% 4%;
	position: relative;
	width: 25px;
	z-index: 2;
}

/** Timeline Event Description **/
.work-info {
	background-color: var(--color-skin);
	margin: 5%;
	padding: 7%;
}

.work-info > * {
	margin: 3% 0;
}

.work-info-header {
	font-size: var(--text-medium);
	font-weight: 900;
}

.work-info-time {
	color: var(--color-blue);
	font-family: 'Arvo', serif;
	font-weight: 900;
}


/** Skill Page **/
.skill-header {
	color: var(--color-blue);
	font-family: 'Arvo', serif;
	font-size: var(--text-medium);
	font-weight: 900;
	margin: 4% 0;
	text-align: center;
}

.skill-icons {
	display: grid;
	font-weight: 900;
	gap: 5px;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	grid-template-rows: auto;
	place-content: center;
}

.skill-icons > div {
	margin: 10px;
	text-align: center;
}


/** Portfolio Page **/
.project-img {
	height: 350px;
}

.project-tech {
	color: var(--color-blue);
	display: grid;
	gap: 5px;
	grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
	grid-template-rows: auto;
	font-family: 'Arvo', serif;
	font-weight: 900;
	padding: 2px 0;
}


/** Contact Page **/
.contact-flex {
	display: grid; 
	gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

#contact-form > div {
	margin: 5% 0 2% 0;
}

/** Contact Label **/
.contact-label {
	display: flex; 
	flex-wrap: wrap; 
	justify-content: space-between; 
	padding: 0 5px;
}

label {
	font-weight: 900;
}

#subject-tick, #message-tick, #email-tick {
	color: var(--color-green);
	display: none;
}

#subject-cross, #message-cross, #email-cross {
	color: var(--color-red);
	display: none;
}

/** Contact Input **/
#email, #subject, #message {
	border: 2px solid black;
	transition: border ease-in-out 0.5s, background-color ease-in-out 1s;
}

#email-error, #subject-error, #message-error {
	font-size: 16px
}

input {
	height: 50px;
}

textarea, input {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	margin: 5px 0;
	outline: none;
	padding: 10px;
	resize: none;
	width: 100%;
}

#email:focus, #subject:focus, #message:focus {
	background-color: var(--color-smoke);
	border-color: var(--color-blue);
}

input:focus, textarea:focus {
	border: 2px solid var(--color-blue);
}

/** Submit Button **/
#submit {
	background-color: var(--color-blue);
	border: 2px solid white;
	color: white;
	cursor: pointer;
	font-size: var(--text-small);
	transition: color ease-in-out 0.5s, border ease-in-out 0.5s;
}

#submit:hover {
	background-color: var(--color-smoke);
	border: 2px solid var(--color-blue);
	color: var(--color-blue);
}

/** Socials **/
#socials {
	font-size: 20px;
	padding: 40px;
	place-self: center;
}

#socials > * {
	margin: 5% 0;
}

#socials-greet {
	font-size: 25px;
	font-weight: 900;
}

#socials-status::after {
	color: #03c04a;
	content: '#Available for Work';
	display: inline-block;
	font-weight: 900;
}

#socials-link {
	font-size: 32px;
}

#socials-link > * {
	margin-right: 20px;
	color: var(--color-grey);
	
}

#github:hover > .fa-github {
	color: black;
	transition: color ease-in-out 0.5s;
}

.fa-linkedin:hover {
	color: var(--color-blue);
	transition: color ease-in-out 0.5s;
}


/** Responsive Design **/
@media screen and (max-width: 750px) {
	
	#landing, #about, #work, #contact {
		padding: 5%;
		margin: 5%;
		max-width: 100%;
	}

	#skill {
		margin: 10% 3%;
		max-width: 100%;
	}

	#portfolio {
		margin: 10% 2%;
		max-width: 100%;
	}

	.project-grid, .skill-grid {
		grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
	}

	#nav-bar {
		padding: 0 5%;
	}

	#landing > *, #work > * {
		margin: 5% 0;
	}

	#about > * {
		margin: 5% 0;
	}

	.work-info > * {
		margin: 5% 0;
	}

	#socials {
		padding: 5px;
	}
}

@media screen and (max-width: 500px) {

	#about > * {
		margin: 10% 0;
	}

	.work-grid {
		display: grid;
		gap: 10px;
		grid-template-columns: 1fr
	}
	
	.work-timeline::after {
		display: none;
	}
	
	.work-event {
		display: none;
	}

	.work-date {
		display: none;
	}

	#work {
		padding: 5% 2%;
	}
}